src/wscalc1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="wscalc1" targetNamespace="http://localhost:8000/wscalc1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://localhost:8000/wscalc1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  
  <wsdl:message name="sumarRequest">
    <wsdl:part name="a" type="xs:integer"/>
    <wsdl:part name="b" type="xs:integer"/>
  </wsdl:message>

  <wsdl:message name="sumarResponse">
    <wsdl:part name="sumres" type="xs:integer"/>
  </wsdl:message>

  <wsdl:message name="multiplicarRequest">
    <wsdl:part name="a" type="xs:integer"/>
    <wsdl:part name="b" type="xs:integer"/>
  </wsdl:message>

  <wsdl:message name="multiplicarResponse">
    <wsdl:part name="mulres" type="xs:integer"/>
  </wsdl:message>

  <wsdl:message name="divarRequest">
    <wsdl:part name="a" type="xs:integer"/>
    <wsdl:part name="b" type="xs:integer"/>
  </wsdl:message>

  <wsdl:message name="divarResponse">
    <wsdl:part name="divres" type="xs:integer"/>
  </wsdl:message>

    <wsdl:message name="FaultMessage">
    <wsdl:part name="faultcode" type="xs:string"/>
    <wsdl:part name="faultstring" type="xs:string"/>
  </wsdl:message>

  <wsdl:portType name="calcP">

    <wsdl:operation name="sumar">
      <wsdl:input message="tns:sumarRequest"/>
      <wsdl:output message="tns:sumarResponse"/>
      <wsdl:fault message="tns:FaultMessage" name="Fault"/>
    </wsdl:operation>
    
    <wsdl:operation name="multiplicar">
      <wsdl:input message="tns:multiplicarRequest"/>
      <wsdl:output message="tns:multiplicarResponse"/>
      <wsdl:fault message="tns:FaultMessage" name="Fault"/>
    </wsdl:operation>

    <wsdl:operation name="divar">
      <wsdl:input message="tns:divarRequest"/>
      <wsdl:output message="tns:divarResponse"/>
      <wsdl:fault message="tns:FaultMessage" name="Fault"/>
    </wsdl:operation>

  </wsdl:portType>

  <wsdl:binding name="calcB" type="tns:calcP">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    
    <wsdl:operation name="sumar">
      <soap:operation soapAction="sumar"/>
      <wsdl:input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Fault">
        <soap:fault name="Fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="multiplicar">
      <soap:operation soapAction="multiplicar"/>
      <wsdl:input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Fault">
        <soap:fault name="Fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="divar">
      <soap:operation soapAction="divar"/>
      <wsdl:input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Fault">
        <soap:fault name="Fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

  </wsdl:binding>

  <wsdl:service name="ws">
    <wsdl:port binding="tns:calcB" name="calc">
      <soap:address location="http://localhost:8000/wscalc1"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
